* { 
    box-sizing: border-box;
    font-family: "Muli";
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.has-white-color { color: #fff; }

.has-opacity { opacity: 0.5; }

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto; 
}

.left-bar--profile {
    width: 15%;
    background: #3B4252;
}

.chat-rooms {
    width: 30%;
    height: 100%;
    background: #2E3440;
}

.actual-chat {
    width: 55%;
    display: flex;
    align-items: center;
    background: #2E3440;
}

hr {
    border-color: #81A1C1;
}

.profile-main {
    width: 70px;
    display: block;
    height: 70px;
    margin: 0px auto;
    background: grey;
    margin-top: 100px;
}

.profile-main img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.username { text-align: center; }

.down--section {  width: 100%; }

.is-inner-container { 
    padding: 50px;
    padding-bottom: 5px;
    width: 100%;
}

.room-container {
    overflow-x: hidden;
    overflow: auto;
    max-height: 70vh;
    padding-bottom: 15px;
}

.has-ligher-font { font-weight: 100; }

.has-small-font { font-size: 12px; }

.is-search {
    background-image: url("../img/search.svg");
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 5px center;
    border: none;
    height: 50px;
    width: 100%;
    background-color: transparent;
    color: white;
    outline: none;
    border-bottom: 1px solid  #81A1C1;
}

.room {
    padding: 20px;
    background: #3B4252;
    margin-top: 20px;
    height: 100px;
    display: flex;
    position: relative;
    align-items: center;
}

.room img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.room p { margin-left: 5px; }

.room .is-date {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 10px;
    font-weight: lighter;
}

.is-chat-room-name { font-size: 30px; }

.has-low-left-padding { padding-left: 10px; }

.has-low-right-padding { padding-right: 10px; }

.is-chat-room-nameholder {
    display: flex;
    position: relative;
}

.is-chat-room-nameholder h1 {
    padding: 0;
    margin: 0;
}

.is-chat-room-nameholder img {
    position: absolute;
    right: 0;
    width: 30px;
    top: 10px;
    height: 30px;
}

.chat-body { 
    padding: 20px;
}

.chat-bubbles { 
    height: 65vh;
    padding-right: 20px;
    padding-bottom: 5px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

.is-message {
    border-radius: 20px;
    display: inline-flex;
    width: 100%;
}

.self  { 
    justify-content: flex-end;
    margin-top: 5px;
 }

.is-message-body {
    padding: 15px;
    margin: 0;
    border-radius: 50px;
    height: 100%;
    margin-left: 20px;
}

.is-message-body p { margin: 0px; }

.is-message .is-profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.self .is-message-body  { 
    background-color:#5E81AC;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
 }

.other .is-message-body  { 
    background-color: #4C566A;
    box-shadow: 0px 2px 6px rgba(43, 43, 43, 0.15);
 }

.chat-body-footer {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.is-center-horizontal {
    display: block;
    margin: 0px auto;
}

.is-chat-textbox { 
    width: 80%;
    max-height: 50%;
    border: none;
    resize: none;
    height: 40px;
    box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.25);
    outline: none;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    background: #434C5E;
}

.sent-chat {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background: white;
    padding: 10px;
    margin-left: 30px;
}

.send-chat img {
    width: 100%;
}

.is-snackBar {
    position: fixed;
    bottom: -10%;
    left: 18%;
    padding: 20px;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    visibility: hidden;
    color: #fff;
    background: #3B4252;
    transition: 0.1s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
}

.is-snackBar.show {
    bottom: 6%;
    visibility: visible;
}

.is-snackBar.connected {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.is-loading-screen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #4C566A;
    border-radius: 20px;
}

.has-no-overflow {
    overflow: hidden;
}

.bottom--section div {
    display: flex;
    padding: 20px;
}

.bottom--section div img {
    width: 30px;
    margin-right: 20px;
}